body{
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
}

h2{
    margin: 0;
}

.form-content{
    
    width: 270px;
    padding: 3rem 2.3rem 8rem 2.3rem;
    margin:3rem auto;
    
    border-radius: 10px;
    box-shadow: 5px 6px 26px #000;
    position: relative;
    overflow: hidden;
}

.signup{    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.signup h2{
    color: #fff;
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 2.5rem;
}

.signup input{
    width: 75%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-bottom: 20px;
    background: #fff;
}

.signup button{
    width: 165px;
    font-size: 16px;
    padding: 10px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    outline: none;
    background: #fff;
    cursor: pointer;
    transition: .2s ease-in;
}

.signup button:hover{
    background: #373e3e;
    color: #fff;
}

input::placeholder{
    color: black;
 }

.login{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 263px;
    padding: 1.2rem 2.5rem;
    background: #eee;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    bottom: -300px;
    left: 0;
    right: 0;
    height: 361px;
    justify-content: center;
    transition: 1s all;
  }

.login h2{
    font-size: 2.5rem;
    font-weight: bold;
    color: #573b8a;
    margin-bottom: 6rem;
    cursor: pointer;
}

.login input{
    background: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 75%;
    padding: 10px;
    margin-bottom: 20px;
}

.login button{
    border: none;
    color: #fff;
    background: #573b8a;
    width: 165px;
    font-size: 16px;
    padding: 10px;
    font-weight: bold;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    margin: 7px;
}

.login a{
    margin: 10px;
    text-decoration: none;
}

#chk{
    display: none;
}

.login.active{
    bottom: 0;
}

.login.active h2{
    margin-bottom: 2.9rem;
}

.forget-password{
    width: 270px;
    padding: 3rem 2.3rem 3rem 2.3rem;
    margin: 3rem auto;
    border-radius: 10px;
    box-shadow: 5px 6px 26px #000;
    position: relative;
}

.forget-password input{
    background: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 75%;
    padding: 10px;
    margin-bottom: 25px;    
}

.forget-password button{
    width: 95px;
    font-size: 16px;
    padding: 10px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    outline: none;
    background: #fff;
    cursor: pointer;
    transition: .2s ease-in;
}

.forget-password button:hover{
    background: #373e3e;
    color: #fff;
}

.forget-password h2{
    color: #fff;
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 2.5rem;
}

.forget-password form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forget-password i{
    position: absolute;
    top: 9px;
    right: 10px;
    color: white;
}

.reset-password{
    width: 270px;
    padding: 3rem 2.3rem 3rem 2.3rem;
    margin: 3rem auto;
    border-radius: 10px;
    box-shadow: 5px 6px 26px #000;
    align-items: center;
    flex-direction: column;
    display: flex;
}
.reset-password input{
    background: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 75%;
    padding: 10px;
    margin-bottom: 25px;   
}
.reset-password button{
    width: 95px;
    font-size: 16px;
    padding: 10px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    outline: none;
    background: #fff;
    cursor: pointer;
    transition: .2s ease-in; 
}
.reset-password button:hover{
    background: #373e3e;
    color: #fff;
}
.reset-password h2{
    color: #fff;
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 2.5rem;
}
